.main-text h4 {
  text-align: left;
  font-family: Ortica, sans-serif;
  font-weight: 100;
  font-size: 4.25rem;
  line-height: 6.875rem;
  color: white;
}
.main-text h2 {
  text-align: left;
  justify-content: space-between;
  font-family: 'Gill Sans', sans-serif;
  font-weight: 100;
  font-size: 1.75rem;
  line-height: 2.875rem;
  color: white;
}
.bg {
  width: auto;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.guy {
  top: 50%;
  max-width: 100%;
  max-height: 100%;
}
#hand-left {
  animation: hand 2s linear infinite alternate-reverse;
  transform-origin: right top;
  transform-box: fill-box;
}
@keyframes hand {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}

#head {
  animation: head 3s linear infinite alternate-reverse;
  transform-origin: bottom;
  transform-box: fill-box;
}
@keyframes head {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(15deg);
  }
}
