.skills-container {
  width: auto;
  height: 60vh;
  background-image: url('../../items/f1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.text {
  font-size: calc(10px + 2vmin);
  color: white;
}
.font{
    color: white;
    font-size: 72px;
    font-size: 4.8vw;
    font-family: neue-haas-grotesk-display,Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1em;
    padding: .24em;
}